.App {
  text-align: center;
}

.slick-prev {
  margin-left: 100px !important;
  padding: 50px;
  z-index: 2;
  display: flex;
  color: red !important;


}
.slick-prev:before {
}

.slick-prev:before, .slick-next:before {
  font-size: 4rem !important;
  color: red !important;
}
.slick-next {
  margin-right: 100px !important;
  display:flex;
  z-index: 2;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
